@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

body {
	background-color: rgba(251, 240, 255, 1);
	overflow: hidden;
	font-family: "Jersey 20", sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
    text-decoration: none;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.text-1 {
	color: rgba(196, 241, 193, 1);
	position: absolute;
	right: -1.3rem;
	bottom: 11.3rem;
	/*font-family: Inter;*/
	text-align: left;
	font-size: 11rem;
	letter-spacing: 1.2rem;
}

.text-2 {
	color: rgba(196, 241, 193, 1);
	position: absolute;
	right: -1.2rem;
	bottom: 4.8rem;
	/*font-family: Inter;*/
	text-align: left;
	font-size: 11rem;
	letter-spacing: 1.2rem;
}

.text-3 {
	color: rgba(196, 241, 193, 1);
	position: absolute;
	right: -1.2rem;
	bottom: -1.7rem;
	/*font-family: Inter;*/
	text-align: left;
	font-size: 11rem;
	letter-spacing: 1.2rem;
}

.img1 {
	position: absolute;
	right: 49%;
    top: 5%;
	opacity: 0.2;
}

.img2 {
	position: absolute;
	right: 12%;
    top: -1%;
	opacity: 0.2;
}

.img3 {
	position: absolute;
	left: 0%;
    bottom: 1%;
	opacity: 0.2;
}

.img4 {
	position: absolute;
	right: 30%;
    bottom: 29%;
	opacity: 0.2;
}

.img5 {
	position: absolute;
	left: 6%;
    top: -2%;
	opacity: 0.2;
}

.img-hover:hover {
	opacity: 1.0;
}

.fix-move {
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-div, .next-div {
    width: 98px;
    height: 98px;
    position: relative;
    margin-bottom: 10px;
}

.home-div .home-a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background-color: rgba(207, 255, 204, 1);
    width: 98px;
    height: 98px;
}

.next-div .next-a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 254, 223, 1);
    width: 100px;
    height: 40px;
}

.home-div .home-span {
    color: rgb(112, 214, 106, 1);
    width: 70px;
    height: 30px;
    /*font-family: Inter;*/
    font-size: 25px;
    text-align: center;
}

.next-div .next-span {
    color: rgba(112, 214, 106, 1);
    width: 56px;
    height: 30px;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
}
